:root {
  --main-font: 'Poppins';
  --font-title: 'Archivo';
  --color-orange: #83b3ee;
  --color-orange-light: #FFF3DF;
  --color-black: #333333;
  --color-text: #868686;
  --color-white: #FFFFFF;
  --color-gray: #706c61;
  --color-red: #FF0000;
}

@keyframes skeleton {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
